*{
    box-sizing: border-box;
}

:root { 
    --text-color: rgb(0, 0, 0);
    --background: #ececec;
    --shadows-item: rebeccapurple;
}

.dark {
    --text-color: rgb(255, 255, 255);
    --background: black;
    --shadows-item: red;
}

body {
    margin: -17px 0 0 0;
}

header {
    text-align: center;
    font-family: 👱‍♀️ ;
    color: var(--text-color);
    font-size: small;
    height: 66px;
    width: 100%;
    background-color: blueviolet;
}

h1{
    padding-top: 17px;
}

main {
    text-align: center;
    height: 772px;
    width: 100%;
    color:var(--text-color);
}

.anotacao {
    display: flex;
    flex-flow: row wrap;
    width: 90%;
    margin: auto auto;
    align-items: center;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0 0 20px var(--shadows-item);
}

.tarefa:hover {
    background-color: rgba(167, 167, 167, 0.719);
    transition: all ease-in-out 0,5s;
}

.item, .item_feito {
    display: flex;
    flex-flow: row wrap;
    width: 90%;
    margin: auto auto;
    margin-top: 28px;
    box-shadow: 0 0 20px var(--shadows-item);
    height: 52px;
    width: 90%;
    background: white;
    cursor: pointer;
    color: black;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.item_feito {
    background: #d4f6d9;
}

.item_feito .item_nome{
    text-decoration: line-through;
    color: grey;
}

.item_icone {
    flex: 10%;
    text-align: center;
    padding-top: 13px;
}

.vazio:hover{
    background-color: rgba(0, 0, 0, 0.781);
    transition: all ease-in-out 0,5s;
    border-radius: 50%;
}

.item:hover{
    background-color: rgba(241, 241, 241, 0.719);
    transition: all ease-in-out 0,5s;
}

.item_nome {
    flex: 80%;
    padding-top: 16px;
}

.item_botao {
    flex: 10%;
}

input {
    height: 120px;
    font-size: 2rem;
    width: 80%;
    padding-left: 5%;
}

button.add {
    width: 20%;
    height: 120px;
    cursor: pointer;
    background-color: greenyellow;
    color: black;
    font-weight: bold;
    font-size: 20px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.add:hover {
    background-color: rgba(172, 255, 47, 0.493);
    transition: all ease-in-out 0,5s;
}

.selecionado { 
    background-color: green;
    border-radius: 50%;
}

.selecionado:hover {
    background-color: rgba(0, 128, 0, 0.555);
    transition: all ease-in-out 0,5s;
}

.delete {
    background: rgb(207, 1, 1);
    color: white;
    padding: 4px;
    height: 52px;
    width: 100%;
    cursor: pointer;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.delete:hover {
    background-color: rgba(207, 1, 1, 0.795);
    transition: all ease-in-out 0,5s;
}

body{
    background-color: var(--background);
}

footer {
    text-align: center;
    height: 54px;
    width: 100%;
    background-color: blueviolet;
    position: fixed;
}

p{
    color: var(--text-color);
}

/*botar hover, modo escuro/claro, ajuste a diversas telas, Fixar rodapé*/